
@{
    ViewBag.Title = "New Expense Item";
}

@section scripts
{
    <script src="~/App/Controllers/Expense/Create.js"></script>
}



<div>
    <span hello-world></span>



    <div class="row" style="margin-top:2%">
        <div class="col-lg-12 col-lg-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <i class="icon-calendar"></i>
                    <h3 class="panel-title">Expenses</h3>
                </div>

                <div class="panel-body" ng-controller="FormSubmitController">
                   
                    <form novalidate name="expenseform" ng-submit="formSubmit(expense)">

                            <div class="input-group">
                                <span class="input-group-addon">Date</span>
                                <input type="text" name="Date" class="form-control" ng-model="expense.Date" required ng-pattern="/^(\d{2})\/(\d{2})\/(\d{4})$/">
                                
                            </div>
                            

                            <br>
                                <div class="input-group">
                                    <span class="input-group-addon">Description</span>
                                    <input type="text" name="Description" ng-model="expense.Description" required ng-maxlength="50" class="form-control">
                                    <span ng-show="expenseform.Description.$error.maxlength">Max characters allowed is 50</span>
                                    
                                 </div>
                                
                            <br>

                            <div class="input-group">
                                <span class="input-group-addon">Category</span>
                                <input type="text"  name="Category" ng-model="expense.Category.Name" required ng-maxlength="25" class="form-control"> 
                                
                                <!-- <select class="form-control" ng-model="expense.Category.Id" ng-options="item as item.Name for item in categories track by item.Id"></select> -->


                                <span ng-show="expenseform.Category.$error.maxlength">Max characters allowed is 20</span>
                                
                                <span class="input-group-addon">SubCategory</span>
                                <input type="text" name="SubCategory" class="form-control" required  ng-model="expense.Category.SubCategory.Name">
                                
                            </div>
                   

                            <br>

                            <div class="input-group">
                                <span class="input-group-addon">Amount</span>
                                <input type="text" name="Amount" class="form-control" required currency ng-model="expense.Amount">
                                <span ng-show="expenseform.Amount.$error.currency && ! expenseform.Amount.$pristine">Currency only</span>
                                
                                

                            </div>
                        
                            <br />
                            
                            <input type="submit" ng-disabled="expenseform.$invalid || expenseform.$pristine" value ="Submit" class="btn btn-default" />
                    </form>

                    <br />
                    <!-- Grid Element----------------------------------->

                    <div ng-controller="ExpenseGridController">

                        <div ng-Grid="gridOptions" class="expensegrid"></div>


                        <style>
                            .expensegrid {
                                height: 250px;
                            }

                            .ngViewport 
                            {
                                overflow-x:hidden;
                                border-left: 1px solid #d1d1d1;
                                border-bottom:none;
                            }
                            .ngHeaderContainer{
                                border-left: 1px solid #d1d1d1;
                            }

                            .ngGrid input{
                                  outline:none;
                            }
                        </style>


                    </div>
                    <!--End Grid Element--------------------------------------->





                </div>
            </div>
        </div>

    </div>
    

</div>




